<p align="center">
Welcome to Adzmo.com
</p>

<p align="center">
Adzmo.com is a location based shopping tool. By sending a short text message
adzmo.com can tell you where the closest shops and restaurants are.
</p>

<p align="center">
	<%= link_to "Learn More", :action => "how" %>
</p>

